.cssfile {
  background: blue;
}
.htmlfile {
  background: yellow;
}
.javascriptfile {
  background: orange;
}
.jsonfile {
  background: grey;
}
.txtfile {
  background: grey;
}
.pythonfile {
  background: orange;
}
