.btndis {
  background: darkred;
  color: white;
  cursor: not-allowed;
}
.btnena {
  color: white;
}
.checkboxen {
  background: green;
}
.checkboxdis {
  background: red;
}
.inputhover {
  background: grey;
}
.inputleavehover {
  /* set defaults hover */
}
.suspicious {
  background: red;
  color: white;
}
.promptbg {
  background: #424242;
}
.promptcontainer {
  background: white;
}
