.mp4container {
}
.mp3container {

}
.mediaplyercontroller {

}
.barmini {
  color: white;
  border-radius: 4px;
  width: 100px;
  height: 20px;
}
.barbig {
  color: white;
  border-radius: 4px;
  width: 100vw;
  height: 50px;
}
